[submodule "dockstore-tool-cosi2"]
	path = dockstore-tool-cosi2
	url = ../dockstore-tool-cosi2.git
[submodule "cosi2"]
	path = cosi2
	url = ../cosi2.git
	branch = is-add-output-of-params
[submodule "dockstore-tool-selscan"]
	path = dockstore-tool-selscan
	url = ../dockstore-tool-selscan.git
[submodule "cms"]
	path = cms
	url = ../cms.git
	branch = is-cms2-new
