sudo: required

dist: focal
os: linux

git:
  depth: 5
  submodules: false

services:
  - docker

env:
#  - LANGUAGE=cwl
  global:
    - LANGUAGE=wdl
  # GH_TOKEN
    - secure: "rdnFRFHOzBinOqgh9K4WmNS3s5j6gIgEoPFhfnwyVvgAghembl3srbPOYnGIYD9QQTetHcQ1qrN0DRDKLEBupDO7mugRhRg4nyZnfsW6qggefH1ypBnUGfdPp5yhaULmv5Rj9e70SZ8I+TeRcw0zhQ6vLlpEnT43K1enKpaiv/96xuff5MWvsjoT8bgHDRUdLomm1fdloSGs8xcaHzCLWDhJZpODiVIr+iKFb98vUVanDhptWcYxpZlPAPbeNdFLYqQO6rtWOriz9YkbHRYwIX/erJQd1h+9WBbmjwJCDYzHh2REjfPlK1OYyl9P69K5PqVvZ/dM6zDbEKvQqxuecVxV/+e0ymjUQQdITQ3lZG7iyn7Tfh0zTQruhk7x5CYUatG1T1uL2v1tVTBjyNRuZJyEPYGPnDr1eycfTxdQUkBBLsdYVZIDPCgVpaD41lNVM5Ti/TBVWl6E7e+jo8XYccAblj0763v8J0jPodCBClNcf8bN6fo0oWo8YLi8x9RRJ8G2zc6ROAAAjs4Hq25jg+n4QpBWOZMVyfYWRMSiAXJAo48Vx/3Ml7ITH4MWL5khaqZa0CaR9i6MAhecMcPsZ/hlpnDNX3D8/adluUTTD9LqZhtud1G1stK5h9zl1OuxToULDus2v3av9cbiJmFNz6oPigCpjmu7Kp1hGZLNNDs="
#  - LANGUAGE=nfl

branches:
  except:
    - /.*-staging$/

# notifications:
#   slack: 
#     on_success: never
#     on_failure: always
#     rooms:
#       - oicr:S9k4EowgQv9AnbCfEZHSzCsg

stages:
  - main

jobs:
  fast_finish: true
  include:
    
    - language: python
      stage: main
      python: "3.8"
      env:
        # GCLOUD_CREDS
        - secure: "uge+BLTboP9keZ7g6HdFVMEoVwOoyt43yZ4cPnhGXQ5b/68RVZ87wqOrHtx9qwbMyjhEs8tVDD315RT2d222mEVcKE8PKBjrkqqv9E3vMvkz+CZ5021spkUTGANscjwAw83MLaOqYAcJ20eQ5+OluD501hR7Tfk3mR/edwmfx4q+Ebqdug23cdmwIIKSPjSW5lWTuiO0lVOpf1kdPEnzxbkR9zGQoF3Ub/0+fmKPAACbY1E35ZoowMsCZSwO0a/0UG5NMbr3c1nkPhcHTnZPttyMogOv8GZ934t+3lHnYwoDNrKwTLynN2SLTekcl69MjzrluwEocaMov5E2IliahwXPRHRYbuxc5jwrsUXJc9hq1CHVOi1fze8lS8pmwK7lfb8olGAMeEsbU6m/SwVWoxjPmiYMjEHwbNrVV7RTH8jG4pWq9PcqPfHyDmr/BhmnhG6PRhZ8VEM1CZGN0bwNdO7zXzuhihGNMbdAudBE2U2qa5KcyL5GYJlacXyLz1/Msgl74Q4BrINRFYzxq62H/TIwMfbLb7pRmhM8aQoLDLkrJgBxzIr3oH5OSxsAe0mjFsmTiY4TT2qFkc+GcFrdCxi4ouCeHwy+ixlj+A/gwf/wQO736gj63I5iRDzBR8Xg7hGxdx3bd5P0sZx6TheImNQOj7EiLOfPsuArDxFzS3o="
      before_install:
        - openssl aes-256-cbc -K $encrypted_833b0d9c0b92_key -iv $encrypted_833b0d9c0b92_iv -in gcloud-config.tar.gz.enc -out gcloud-config.tar.gz -d
#      before_install:
#        - sudo apt-get update
#        - sudo apt-get -y install shellcheck
      install:
#        - pip3 -q install miniwdl
        - pip3 -q install firecloud
      script:
        - set -e
        - tar -xzf gcloud-config.tar.gz -C $HOME
        - bash travis/create-staging-branch.sh
        - python3 travis/deploy-to-terra.py

#language: java
#jdk: 
#  - openjdk11

#before_install:
#  - docker build -t quay.io/ilya_broad/dockstore-tool-cosi2 .
#  - pyenv global 3.6

#install: 
#  - bash install.sh

