annexremote
autologging
bcftools
blast
bbmap
#bmtagger
bokeh
boto3
bwa
cromwell
cromwell-tools
#cd-hit
#cd-hit-auxtools
#conda-execute=0.9.0
#diamond
dominate
dxpy
firecloud
jinja2
jmespath
#kmc
gatk
git-annex
google-cloud-storage
#kaiju=1.6.3_yesimon
#krakenuniq=0.5.7_yesimon
#krona
#last
#lbzip2
#lz4-bin
#fastqc
google-api-python-client
#gap2seq=3.1.1a2
#gap2seq
#mafft
#mummer4
#muscle
#mvicuna
#novoalign
oauth2client
parallel
#picard
pigz
#prinseq
python-dateutil
pytz
ruby
samtools
#snpeff
#spades
#sqlitedict
#tbl2asn
tzlocal
#trimmomatic
#trinity
unzip
uritools
vcftools
#vphaser2
# Python packages below
#arrow
bedtools
biopython
contextlib2
#fusepy
future
matplotlib
#pluggy
pysam
pybedtools
PyYAML
yattag
